{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://inspector.amazonaws.com/"
        },
        {
            "url": "http://inspector.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of your AWS resources and to identify potential security issues. For more information, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html\"> Amazon Inspector User Guide</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Inspector",
        "version": "2016-02-16",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/inspector-2016-02-16.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "inspector"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/inspector/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Assigns attributes (key and value pairs) to the findings that are specified by the ARNs of the findings.",
                "operationId": "AddAttributesToFindings",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "failedItems": {}
                                    },
                                    "properties": {
                                        "failedItems": {
                                            "description": "Attribute details that cannot be described. An error code is provided for each failed item.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 300,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "description": "Includes details about the failed items.",
                                                        "properties": {
                                                            "failureCode": {
                                                                "description": "The status code of a failed item.",
                                                                "enum": [
                                                                    "INVALID_ARN",
                                                                    "DUPLICATE_ARN",
                                                                    "ITEM_DOES_NOT_EXIST",
                                                                    "ACCESS_DENIED",
                                                                    "LIMIT_EXCEEDED",
                                                                    "INTERNAL_ERROR"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "retryable": {
                                                                "description": "Indicates whether you can immediately retry a request for this item for a specified resource.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "failureCode",
                                                            "retryable"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "failedItems"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NoSuchEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "attributes": [
                                        {
                                            "key": "Example",
                                            "value": "example"
                                        }
                                    ],
                                    "findingArns": [
                                        "arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-8l1VIE0D/run/0-Z02cjjug/finding/0-T8yM9mEU"
                                    ]
                                },
                                "properties": {
                                    "attributes": {
                                        "description": "The array of attributes that you want to assign to specified findings.",
                                        "items": {
                                            "description": "This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a> actions.",
                                            "properties": {
                                                "key": {
                                                    "description": "The attribute key.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The value assigned to the attribute key.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "key"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "findingArns": {
                                        "description": "The ARNs that specify the findings that you want to assign attributes to.",
                                        "items": {
                                            "maxLength": 300,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "maxItems": 10,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "findingArns",
                                    "attributes"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateAssessmentTarget": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new assessment target using the ARN of the resource group that is generated by <a>CreateResourceGroup</a>. If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, this action also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments. You can create up to 50 assessment targets per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\"> Amazon Inspector Assessment Targets</a>.",
                "operationId": "CreateAssessmentTarget",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "assessmentTargetArn": "arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX"
                                    },
                                    "properties": {
                                        "assessmentTargetArn": {
                                            "description": "The ARN that specifies the assessment target that is created.",
                                            "maxLength": 300,
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "assessmentTargetArn"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NoSuchEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidCrossAccountRoleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "assessmentTargetName": "ExampleAssessmentTarget",
                                    "resourceGroupArn": "arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv"
                                },
                                "properties": {
                                    "assessmentTargetName": {
                                        "description": "The user-defined name that identifies the assessment target that you want to create. The name must be unique within the AWS account.",
                                        "maxLength": 140,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "resourceGroupArn": {
                                        "description": "The ARN that specifies the resource group that is used to create the assessment target. If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target.",
                                        "maxLength": 300,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "assessmentTargetName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateAssessmentTemplate": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an assessment template for the assessment target that is specified by the ARN of the assessment target. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, this action also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments.",
                "operationId": "CreateAssessmentTemplate",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "assessmentTemplateArn": "arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T"
                                    },
                                    "properties": {
                                        "assessmentTemplateArn": {
                                            "description": "The ARN that specifies the assessment template that is created.",
                                            "maxLength": 300,
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "assessmentTemplateArn"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NoSuchEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "assessmentTargetArn": "arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX",
                                    "assessmentTemplateName": "ExampleAssessmentTemplate",
                                    "durationInSeconds": 180,
                                    "rulesPackageArns": [
                                        "arn:aws:inspector:us-west-2:758058086616:rulespackage/0-11B9DBXp"
                                    ],
                                    "userAttributesForFindings": [
                                        {
                                            "key": "Example",
                                            "value": "example"
                                        }
                                    ]
                                },
                                "properties": {
                                    "assessmentTargetArn": {
                                        "description": "The ARN that specifies the assessment target for which you want to create the assessment template.",
                                        "maxLength": 300,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "assessmentTemplateName": {
                                        "description": "The user-defined name that identifies the assessment template that you want to create. You can create several assessment templates for an assessment target. The names of the assessment templates that correspond to a particular assessment target must be unique.",
                                        "maxLength": 140,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "durationInSeconds": {
                                        "description": "The duration of the assessment run in seconds.",
                                        "maximum": 86400,
                                        "minimum": 180,
                                        "type": "integer"
                                    },
                                    "rulesPackageArns": {
                                        "description": "The ARNs that specify the rules packages that you want to attach to the assessment template.",
                                        "items": {
                                            "maxLength": 300,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "maxItems": 50,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "userAttributesForFindings": {
                                        "description": "The user-defined attributes that are assigned to every finding that is generated by the assessment run that uses this assessment template. An attribute is a key and value pair (an <a>Attribute</a> object). Within an assessment template, each key must be unique.",
                                        "items": {
                                            "description": "This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a> actions.",
                                            "properties": {
                                                "key": {
                                                    "description": "The attribute key.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The value assigned to the attribute key.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "key"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "assessmentTargetArn",
                                    "assessmentTemplateName",
                                    "durationInSeconds",
                                    "rulesPackageArns"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateExclusionsPreview": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Starts the generation of an exclusions preview for the specified assessment template. The exclusions preview lists the potential exclusions (ExclusionPreview) that Inspector can detect before it runs the assessment. ",
                "operationId": "CreateExclusionsPreview",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "previewToken": {
                                            "description": "Specifies the unique identifier of the requested exclusions preview. You can use the unique identifier to retrieve the exclusions preview when running the GetExclusionsPreview API.",
                                            "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "previewToken"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "PreviewGenerationInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NoSuchEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "assessmentTemplateArn": {
                                        "description": "The ARN that specifies the assessment template for which you want to create an exclusions preview.",
                                        "maxLength": 300,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "assessmentTemplateArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateResourceGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Amazon Inspector assessment target. The created resource group is then used to create an Amazon Inspector assessment target. For more information, see <a>CreateAssessmentTarget</a>.",
                "operationId": "CreateResourceGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "resourceGroupArn": "arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv"
                                    },
                                    "properties": {
                                        "resourceGroupArn": {
                                            "description": "The ARN that specifies the resource group that is created.",
                                            "maxLength": 300,
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "resourceGroupArn"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "resourceGroupTags": [
                                        {
                                            "key": "Name",
                                            "value": "example"
                                        }
                                    ]
                                },
                                "properties": {
                                    "resourceGroupTags": {
                                        "description": "<p>A collection of keys and an array of possible values, '[{\"key\":\"key1\",\"values\":[\"Value1\",\"Value2\"]},{\"key\":\"Key2\",\"values\":[\"Value3\"]}]'.</p> <p>For example,'[{\"key\":\"Name\",\"values\":[\"TestEC2Instance\"]}]'.</p>",
                                        "items": {
                                            "description": "This data type is used as one of the elements of the <a>ResourceGroup</a> data type.",
                                            "properties": {
                                                "key": {
                                                    "description": "A tag key.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The value assigned to a tag key.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "key"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "resourceGroupTags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAssessmentRun": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the assessment run that is specified by the ARN of the assessment run.",
                "operationId": "DeleteAssessmentRun",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AssessmentRunInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NoSuchEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "assessmentRunArn": "arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T/run/0-11LMTAVe"
                                },
                                "properties": {
                                    "assessmentRunArn": {
                                        "description": "The ARN that specifies the assessment run that you want to delete.",
                                        "maxLength": 300,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "assessmentRunArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAssessmentTarget": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the assessment target that is specified by the ARN of the assessment target.",
                "operationId": "DeleteAssessmentTarget",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AssessmentRunInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NoSuchEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "assessmentTargetArn": "arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq"
                                },
                                "properties": {
                                    "assessmentTargetArn": {
                                        "description": "The ARN that specifies the assessment target that you want to delete.",
                                        "maxLength": 300,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "assessmentTargetArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAssessmentTemplate": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the assessment template that is specified by the ARN of the assessment template.",
                "operationId": "DeleteAssessmentTemplate",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AssessmentRunInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NoSuchEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceTemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "assessmentTemplateArn": "arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T"
                                },
                                "properties": {
                                    "assessmentTemplateArn": {
                                        "description": "The ARN that specifies the assessment template that you want to delete.",
                                        "maxLength": 300,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "assessmentTemplateArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAssessmentRuns": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes the assessment runs that are specified by the ARNs of the assessment runs.",
                "operationId": "DescribeAssessmentRuns",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "assessmentRuns": [
                                            {
                                                "arn": "arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE",
                                                "assessmentTemplateArn": "arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw",
                                                "completedAt": "1458680301.4",
                                                "createdAt": "1458680170.035",
                                                "dataCollected": true,
                                                "durationInSeconds": 3600,
                                                "findingCounts": {
                                                    "High": 14,
                                                    "Informational": 0,
                                                    "Low": 0,
                                                    "Medium": 2,
                                                    "Undefined": 0
                                                },
                                                "name": "Run 1 for ExampleAssessmentTemplate",
                                                "notifications": [],
                                                "rulesPackageArns": [
                                                    "arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP"
                                                ],
                                                "startedAt": "1458680170.161",
                                                "state": "COMPLETED",
                                                "stateChangedAt": "1458680301.4",
                                                "stateChanges": [
                                                    {
                                                        "state": "CREATED",
                                                        "stateChangedAt": "1458680170.035"
                                                    },
                                                    {
                                                        "state": "START_DATA_COLLECTION_PENDING",
                                                        "stateChangedAt": "1458680170.065"
                                                    },
                                                    {
                                                        "state": "START_DATA_COLLECTION_IN_PROGRESS",
                                                        "stateChangedAt": "1458680170.096"
                                                    },
                                                    {
                                                        "state": "COLLECTING_DATA",
                                                        "stateChangedAt": "1458680170.161"
                                                    },
                                                    {
                                                        "state": "STOP_DATA_COLLECTION_PENDING",
                                                        "stateChangedAt": "1458680239.883"
                                                    },
                                                    {
                                                        "state": "DATA_COLLECTED",
                                                        "stateChangedAt": "1458680299.847"
                                                    },
                                                    {
                                                        "state": "EVALUATING_RULES",
                                                        "stateChangedAt": "1458680300.099"
                                                    },
                                                    {
                                                        "state": "COMPLETED",
                                                        "stateChangedAt": "1458680301.4"
                                                    }
                                                ],
                                                "userAttributesForFindings": []
                                            }
                                        ],
                                        "failedItems": {}
                                    },
                                    "properties": {
                                        "assessmentRuns": {
                                            "description": "Information about the assessment run.",
                                            "items": {
                                                "description": "<p>A snapshot of an Amazon Inspector assessment run that contains the findings of the assessment run .</p> <p>Used as the response element in the <a>DescribeAssessmentRuns</a> action.</p>",
                                                "properties": {
                                                    "arn": {
                                                        "description": "The ARN of the assessment run.",
                                                        "maxLength": 300,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "assessmentTemplateArn": {
                                                        "description": "The ARN of the assessment template that is associated with the assessment run.",
                                                        "maxLength": 300,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "completedAt": {
                                                        "description": "The assessment run completion time that corresponds to the rules packages evaluation completion time or failure.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "createdAt": {
                                                        "description": "The time when <a>StartAssessmentRun</a> was called.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "dataCollected": {
                                                        "description": "A Boolean value (true or false) that specifies whether the process of collecting data from the agents is completed.",
                                                        "type": "boolean"
                                                    },
                                                    "durationInSeconds": {
                                                        "description": "The duration of the assessment run.",
                                                        "maximum": 86400,
                                                        "minimum": 180,
                                                        "type": "integer"
                                                    },
                                                    "findingCounts": {
                                                        "description": "Provides a total count of generated findings per severity.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "enum": [
                                                                        "Low",
                                                                        "Medium",
                                                                        "High",
                                                                        "Informational",
                                                                        "Undefined"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "name": {
                                                        "description": "The auto-generated name for the assessment run.",
                                                        "maxLength": 140,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "notifications": {
                                                        "description": "A list of notifications for the event subscriptions. A notification about a particular generated finding is added to this list only once.",
                                                        "items": {
                                                            "description": "Used as one of the elements of the <a>AssessmentRun</a> data type.",
                                                            "properties": {
                                                                "date": {
                                                                    "description": "The date of the notification.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "error": {
                                                                    "description": "The Boolean value that specifies whether the notification represents an error.",
                                                                    "type": "boolean"
                                                                },
                                                                "event": {
                                                                    "description": "The event for which a notification is sent.",
                                                                    "enum": [
                                                                        "ASSESSMENT_RUN_STARTED",
                                                                        "ASSESSMENT_RUN_COMPLETED",
                                                                        "ASSESSMENT_RUN_STATE_CHANGED",
                                                                        "FINDING_REPORTED",
                                                                        "OTHER"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "message": {
                                                                    "description": "The message included in the notification.",
                                                                    "maxLength": 1000,
                                                                    "minLength": 0,
                                                                    "type": "string"
                                                                },
                                                                "snsPublishStatusCode": {
                                                                    "description": "The status code of the SNS notification.",
                                                                    "enum": [
                                                                        "SUCCESS",
                                                                        "TOPIC_DOES_NOT_EXIST",
                                                                        "ACCESS_DENIED",
                                                                        "INTERNAL_ERROR"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "snsTopicArn": {
                                                                    "description": "The SNS topic to which the SNS notification is sent.",
                                                                    "maxLength": 300,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "date",
                                                                "event",
                                                                "error"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 50,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    },
                                                    "rulesPackageArns": {
                                                        "description": "The rules packages selected for the assessment run.",
                                                        "items": {
                                                            "maxLength": 300,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 50,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "startedAt": {
                                                        "description": "The time when <a>StartAssessmentRun</a> was called.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "description": "The state of the assessment run.",
                                                        "enum": [
                                                            "CREATED",
                                                            "START_DATA_COLLECTION_PENDING",
                                                            "START_DATA_COLLECTION_IN_PROGRESS",
                                                            "COLLECTING_DATA",
                                                            "STOP_DATA_COLLECTION_PENDING",
                                                            "DATA_COLLECTED",
                                                            "START_EVALUATING_RULES_PENDING",
                                                            "EVALUATING_RULES",
                                                            "FAILED",
                                                            "ERROR",
                                                            "COMPLETED",
                                                            "COMPLETED_WITH_ERRORS",
                                                            "CANCELED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "stateChangedAt": {
                                                        "description": "The last time when the assessment run's state changed.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "stateChanges": {
                                                        "description": "A list of the assessment run state changes.",
                                                        "items": {
                                                            "description": "Used as one of the elements of the <a>AssessmentRun</a> data type.",
                                                            "properties": {
                                                                "state": {
                                                                    "description": "The assessment run state.",
                                                                    "enum": [
                                                                        "CREATED",
                                                                        "START_DATA_COLLECTION_PENDING",
                                                                        "START_DATA_COLLECTION_IN_PROGRESS",
                                                                        "COLLECTING_DATA",
                                                                        "STOP_DATA_COLLECTION_PENDING",
                                                                        "DATA_COLLECTED",
                                                                        "START_EVALUATING_RULES_PENDING",
                                                                        "EVALUATING_RULES",
                                                                        "FAILED",
                                                                        "ERROR",
                                                                        "COMPLETED",
                                                                        "COMPLETED_WITH_ERRORS",
                                                                        "CANCELED"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "stateChangedAt": {
                                                                    "description": "The last time the assessment run state changed.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "stateChangedAt",
                                                                "state"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 50,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    },
                                                    "userAttributesForFindings": {
                                                        "description": "The user-defined attributes that are assigned to every generated finding.",
                                                        "items": {
                                                            "description": "This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a> actions.",
                                                            "properties": {
                                                                "key": {
                                                                    "description": "The attribute key.",
                                                                    "maxLength": 128,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The value assigned to the attribute key.",
                                                                    "maxLength": 256,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "key"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 10,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "arn",
                                                    "name",
                                                    "assessmentTemplateArn",
                                                    "state",
                                                    "durationInSeconds",
                                                    "rulesPackageArns",
                                                    "userAttributesForFindings",
                                                    "createdAt",
                                                    "stateChangedAt",
                                                    "dataCollected",
                                                    "stateChanges",
                                                    "notifications",
                                                    "findingCounts"
                                                ],
                                                "type": "object"
                                            },
                                            "maxItems": 10,
                                            "minItems": 0,
                                            "type": "array"
                                        },
                                        "failedItems": {
                                            "description": "Assessment run details that cannot be described. An error code is provided for each failed item.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 300,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "description": "Includes details about the failed items.",
                                                        "properties": {
                                                            "failureCode": {
                                                                "description": "The status code of a failed item.",
                                                                "enum": [
                                                                    "INVALID_ARN",
                                                                    "DUPLICATE_ARN",
                                                                    "ITEM_DOES_NOT_EXIST",
                                                                    "ACCESS_DENIED",
                                                                    "LIMIT_EXCEEDED",
                                                                    "INTERNAL_ERROR"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "retryable": {
                                                                "description": "Indicates whether you can immediately retry a request for this item for a specified resource.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "failureCode",
                                                            "retryable"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "assessmentRuns",
                                        "failedItems"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "assessmentRunArns": [
                                        "arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE"
                                    ]
                                },
                                "properties": {
                                    "assessmentRunArns": {
                                        "description": "The ARN that specifies the assessment run that you want to describe.",
                                        "items": {
                                            "maxLength": 300,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "maxItems": 10,
[...]
